DATABASE_URL=db/jelly-clipper.db
# Optional mostly for dev:
# Mount jellyfin server directory onto dev machine
# Map directories from jellyfin mounts to dev machine mounts
# JELLYFIN_PATH_MAPPINGS=[{"from":"/media","to":"/mnt/jellyfin-prod-media"}]
